body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #623586;
    overflow: hidden;
    }
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: #623586;
      color: white;
}

.button-container
{
    padding: 10px;
}

.input{
    width: 400px;
    height: 30px;
    text-size-adjust: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.password-container{
    width: 400px;
    position: relative;
  }

  .password-container input[type="password"],
  .password-container input[type="text"]{
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
  }
  
  .fa-eye{
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
  }